<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.saberspringcore.test.services.HelloServices" id="helloServices"/>
    <!--    <bean class="com.saberspringcore.test.model.EmailNotifier" id="notifier"/>-->

    <bean class="com.saberspringcore.test.services.impl.NotificationServiceImpl" id="notificationService">
        <property name="notifier" ref="notifier"/>
    </bean>
<!--    <bean id="notifier" class="com.saberspringcore.test.services.NotifierFactory" factory-method="getNotifier"/>-->
    <bean class="com.saberspringcore.test.services.NotifierFactory" id="notifierFactory"/>
    <bean id="notifier" factory-bean="notifierFactory" factory-method="getNotifier"/>
</beans>